/* setting colour pallete for whole page */
:root {
    --background: #f3edee;
    --background_25opacity: hsla(12 100% 97% / .25);
    --background_50opacity: hsla(12 100% 97% / .5);
    --light: #F9AAA0;
    --dark: #5B0C02;
    --deep_dark: #210400;
    --deep_dark_50_opacity: #2104008f;
    --accent_deep_dark_30_opacity: hsla(79 100% 6% / .3);
    --accent_deep_dark_40_opacity: hsla(79 100% 6% / .4);
    --accent_deep_dark_50_opacity: hsla(79 100% 6% / .5);
    --accent_deep_dark_60_opacity: hsla(79 100% 6% / .6);
    --accent_deep_dark_70_opacity: hsla(79 100% 6% / .7);
    --accent_deep_dark_80_opacity: #151f00cb;
    --accent_very_light: #F5F9EE;
    --accent_light: #C7E090;
    --accent_dark: #425F02;
    --accent_deep_dark: #151F00;
    --background_black_opacity_40: #0000009a;
    --background_black_opacity_60: #0000005e;
    --background_staff_opacity_40: #151a0d71;
    --background_staff_opacity_60: #f5f9ee98;
    --white_always: #FFF;
}


/* --background: #FFF3F0; #151f007e */

/*
:root {
    --background: #e9f0e6;
    --background_50opacity: #DEF0D780;
    --light: #76B75B;
    --dark: #2D6E12;
    --deep_dark: #164900;
    --deep_dark_50_opacity: #16490080;
    --accent_light: #D4936A;
    --accent_dark: #803D15;
    --accent_deep_dark: #552100;
    --background_black_opacity_40: #00000066;
    --background_staff_opacity_40: #5521003f;
    --background_staff_opacity_60: #5521006b;
    --white_always: #FFF;
}

*/




html {
    font-size: 16px;
    color: var(--deep_dark);
}

body {
    background-color: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    position: relative;
    top: 0px;
    font-size: 2rem;
    text-align: center;
    padding: 1rem 0rem 1rem 0rem;
}




/*_   _    ___     __
 | \ | |  / \ \   / /
 |  \| | / _ \ \ / / 
 | |\  |/ ___ \ V /  
 |_| \_/_/   \_\_/   
*/

.nav {
    position: sticky;
    top: 0px;
    display: flex;
    z-index: 10;
    background-color: var(--deep_dark);
    color: var(--accent_very_light)
}

.nav .container ul{
    display: flex;
}

.nav .logo {
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-right: auto;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav .logo-matcha {
    font-weight: 100;
    letter-spacing: 0px;
}

.nav .logo-lovers {
    font-weight: 700;
    color: var(--accent_light);
}

.nav li {
    padding: 1rem;
}

.nav .mobile {
    display: none;
}

@media screen and  (max-width: 700px) {
    .nav .logo {
        flex-direction: column;
    }
    
    .nav .logo-matcha {
        letter-spacing: 0.5rem;
        padding-left: 0.4rem;
        font-size: 0.8rem;
    }
    
    .nav .logo-lovers {
        font-size: 1.5rem;
    }
    
}

@media screen and  (max-width: 580px) {
    .nav .mobile {
        display: flex;
        width: max(13.75rem, 70%);
    }

    .nav .desktop {
        display: none;
    }

    .nav .mobile ul {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .nav li {
        padding: 1rem 0.7rem;
    }
    
    .nav li:last-child {
        padding-right: 1.5rem;
    }
}

@media screen and (max-width: 580px) {
    .nav .logo-matcha {
        letter-spacing: 0.4rem;
        padding-left: 0.4rem;
        font-size: 0.5rem;
    }

    .nav .logo-lovers {
        font-size: 1.1rem;
    }

}


/*_   _ _____ ____   ___  
 | | | | ____|  _ \ / _ \ 
 | |_| |  _| | |_) | | | |
 |  _  | |___|  _ <| |_| |
 |_| |_|_____|_| \_\\___/ 
*/

.hero {
    height: 90vh;
    overflow: hidden;
/* setting position property to create position ancestor for h1  */
    position: relative;
    top: 0px;
}

.hero h1 {
    position: absolute;
    top: calc((90vh/2) - ((3rem + 1rem + 1rem)/2));
    background: linear-gradient(90deg, var(--background_black_opacity_60), var(--background_black_opacity_40), var(--background_black_opacity_40), var(--background_black_opacity_60));
    color: var(--accent_light);
    font-weight: 400;
    width: 100%;
    font-size: 3rem;
    text-transform: uppercase;
    padding: 1rem 2rem;
    text-align: center;
    z-index: 2;
}

.hero h1 span {
    font-weight: 700;
}

.hero-image  {
    width: 100%;
    height: 100%;
    background-image: url("../images/matcha/content4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 580px) {
    .hero h1 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 480px) {
    .hero h1 {
        font-size: 2rem;
    }
}


/*____  ____   ___  ____  _   _  ____ _____ ____  
 |  _ \|  _ \ / _ \|  _ \| | | |/ ___|_   _/ ___| 
 | |_) | |_) | | | | | | | | | | |     | | \___ \ 
 |  __/|  _ <| |_| | |_| | |_| | |___  | |  ___) |
 |_|   |_| \_\\___/|____/ \___/ \____| |_| |____/ 
                                                  
*/

.products {
    box-shadow: inset 0 -3px 15px var(--background_50opacity);
}

.products h2,
.staff h2 {
    margin-top: 3.5rem;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--accent_deep_dark);
    width: max(40%, 16rem);
    margin-left: auto;
    margin-right: auto;
    border-top: 3px solid var(--white_always);
    border-bottom: 3px solid var(--white_always);
}

.products .products-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5vw;
    padding: 3rem;
}

.products .container {
    width: max(15vw, 12.5rem);
    height: 18rem;
    flex-grow: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid var(--white_always);
    position: relative;
    top: 0px;
    overflow: hidden;
}

.products .container h3,
.products .container p {
    color: var(--accent_very_light);
    position: relative;
    top: 0px;
    z-index: 3;
}

.products .container h3 {
    font-size: 1.65rem;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
    padding: 0.4rem;
    text-shadow: 1px 1px 1px black;
}

.products .container h3::before,
.products .container h3::after {
    content: "";
    position: absolute;
    top: 0px;
    height: 100%;
} 

.products .container h3::before {
    left: 5%;
    width: 90%;
    border-top: 1px solid var(--white_always);
    border-bottom: 1px solid var(--white_always);
} 

.products .container h3::after {
    left: 50%;
    width: 0%;
    border-top: 2px solid var(--white_always);
    border-bottom: 1px solid var(--white_always);
} 

.products .container::after {
    content: "";
    position: absolute;
    top: 0px;
    width: 200%;
    /* margin-left: 40%; */
    height: 100%;
    background-color: var(--background_staff_opacity_40);
    z-index: 1;
    opacity: 0;
}

/* image positions fixes */
.products .e,
.products .g {
    background-position: top;
}

@media screen and (max-width: 700px) {
    .products .products-gallery {
        gap: 1rem;
        padding: 1rem;
    }
    
}


/*
 _    _  ______      ________ _____  
| |  | |/ __ \ \    / /  ____|  __ \ 
| |__| | |  | \ \  / /| |__  | |__) |
|  __  | |  | |\ \/ / |  __| |  _  / 
| |  | | |__| | \  /  | |____| | \ \ 
|_|  |_|\____/   \/   |______|_|  \_\
*/                                     

/* fading background effect */
.products .container::after {
    transition: opacity 0.4s ease-in-out;
}

.products .container:hover::after {
    /* width: 100%;
    margin-left: 0%; */
    opacity: 1;
}

/* h3 font change */
.products .container h3 {
    transition: letter-spacing 0.4s ease-in-out;
}

.products .container:hover h3 {
    letter-spacing: 0.2rem;
}

/* text description <p> apearing in bottom center */
.products .container p {
    position: absolute;
    line-height: 1.4rem;
    text-align: center;
    top: 25%;
    opacity: 0;
    font-size: 0.2em;
    width: 40%;
    margin-left: 30%;
    transition: 0.4s ease-in-out;
    transition-property: opacity, font-size, width, margin-left;
}

.products .container:hover p {
    opacity: 1;
    font-size: 1rem;
    width: 90%;
    margin-left: 5%;
}

/* top and bottom h3 borders grow from center 2px thick */
.products .container h3::after {
    transition: 0.4s ease-in-out;
    transition-property: left, width;
} 

.products .container:hover h3::after {
    left: 5%;
    width: 90%;
} 

/********************** image urls *************************/

.products .a {
    background-image: url(../images/matcha/product16.jpg);
}
.products .b {
    background-image: url(../images/matcha/product18.jpg);
}
.products .c {
    background-image: url(../images/matcha/product20_2.jpg);
}
.products .d {
    background-image: url(../images/matcha/product10.jpg);
}
.products .e {
    background-image: url(../images/matcha/product15.jpg);
}
.products .f {
    background-image: url(../images/matcha/product6.jpg);
}
.products .g {
    background-image: url(../images/matcha/product3_2.jpg);
}
.products .h {
    background-image: url(../images/matcha/product9.jpg);
}


/*   _    ____   ___  _   _ _____ 
    / \  | __ ) / _ \| | | |_   _|
   / _ \ |  _ \| | | | | | | | |  
  / ___ \| |_) | |_| | |_| | | |  
 /_/   \_\____/ \___/ \___/  |_|  
*/

.about {
    height: 95vh;
    margin-top: 4rem;
    position: relative;
    top: 0px;
    height: 90vh;
}

.about .image {
    width: 100%;
    height: 100%;
    background-image: url("../images/matcha/content3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.about .container {
    width: max(38rem);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about h2,
.about p {
    color: var(--accent_very_light);
}

.about h2 {
    width: 100%;
    text-shadow: 1px 1px 1px black;
    background-color: var(--accent_deep_dark_60_opacity);
    border-top: 1px solid var(--white_always);
    border-bottom: 1px solid var(--white_always);
}

.about h2::before {
    content: "";
    display: block;
    background-color: var(--accent_very_light);
    width: 100%;
    height: 4rem;
    position: absolute;
    top: 0px;
    z-index: -1;
}

.about p {
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    background-color: var(--background_black_opacity_60);
}

@media screen and (max-width: 780px) {
    .about .container h2 {
        font-size: 1.5rem;
        width: 80%;
    }

    .about .container p {
        width: 80%;        
        font-size: 1.2rem;
        line-height: 1.7rem;
    }
}

@media screen and (max-width: 480px) {
    .about .container h2 {
        font-size: 1.5rem;
        width: 90%;
        padding: 0.6rem 0rem;
    }

    .about .container p {
        width: 90%;
        padding: 0.5rem;
        font-size: 1rem;
        line-height: 1.4rem;
    }
}


/*____ _____  _    _____ _____ 
/ ___|_   _|/ \  |  ___|  ___|
\___ \ | | / _ \ | |_  | |_   
 ___) || |/ ___ \|  _| |  _|  
|____/ |_/_/   \_\_|   |_|    
*/

.staff {
    margin-top: 3rem;
}

.staff .staff-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 3rem;
}

.staff .container {
    border: 1px solid var(--white_always);
    width: 22vw;
    height: 35rem;
    flex-grow: 1;
    position: relative;
    top: 0px;
    overflow: hidden;
}

.staff .image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 0px;
    overflow: hidden;
}

.staff .story {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    max-width: 22rem;
}

.staff .story h3,
.staff .story p {
    color: var(--accent_very_light);
    z-index: 3;
}

.staff .story h3 {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}


/* image c (Joe Whitestone) positioning correction */
.staff .c {
    background-position: top;
}

@media screen and (max-width: 1600px) {
    .staff .container {
        width: min(22vw, 18.75rem);
    }
}

@media screen and (max-width: 1200px) {
    .staff .container {
        width: 40vw;
    }
}

@media screen and (max-width: 700px) {
    .staff h2 {
        margin-bottom: 2rem;
    }
    
    .staff .staff-gallery {
        gap: 1rem;
        padding: 1rem;
    }
}

@media screen and (max-width: 580px) {
.staff .staff-gallery {
    padding: 0rem;
}

    .staff .container {
        width: 100%;
        height: 20rem;        
    }
}


/* hoover effects */

/* background colorufade effect */
.staff .container::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--background_staff_opacity_40);
    position: absolute;
    top: 0px;
    z-index: 1;
    transition: opacity 0.5s; 
    opacity: 0;
}

.staff .container:hover::before {
    opacity: 1;
}

/* background image zoom effect */
.staff .image {
    transition: width 0.4s;
    width: 100%;
}

.staff .container:hover .image{
    width: 105%;
}

/* description text move effect */
.staff .container p {
    position: relative;
    top: 0px;
    left: 150%;
    transition: left 0.5s;
}

.staff .container:hover p {
    left: 0px;
}

/* horizontal line move effect */
.staff .story h3 {
    position: relative;
    top: 0px;
}

.staff .story h3::after {
    position: absolute;
    top: 0px;
    content: "";
    width: 100%;
    height: 100%;
    border-bottom: 3px solid var(--white_always);
    transition: right 0.5s;
    right: 150%;
}

.staff .container:hover h3::after {
    right: 0px;
}


.staff .a {
    background-image: url(../images/matcha/staff1.jpg);
}
.staff .b {
    background-image: url(../images/matcha/staff2.jpg);
}
.staff .c {
    background-image: url(../images/matcha/staff3.jpg);
}
.staff .d {
    background-image: url(../images/matcha/staff4.jpg);
}


/*_     ___   ____    _  _____ ___ ___  _   _ ____  
 | |   / _ \ / ___|  / \|_   _|_ _/ _ \| \ | / ___| 
 | |  | | | | |     / _ \ | |  | | | | |  \| \___ \ 
 | |__| |_| | |___ / ___ \| |  | | |_| | |\  |___) |
 |_____\___/ \____/_/   \_\_| |___\___/|_| \_|____/ 
*/

.locations {
    margin-top: 6rem;
}

.locations .image {
    background-image: url(../images/matcha/conetnt2.jpg);
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.locations .locations-list {
    margin-left: auto;
    width: 30rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.locations .container {
    width: 24rem;
}

.locations h2,
.locations li {
    color: var(--deep_dark);
}

.locations h2,
.locations .container {
    background-color: var(--background_50opacity);
}

.locations h2 {
    width: 24rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1rem 0;
}

.locations ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.locations li {
    font-size: 1.5rem;
    text-align: center;
    padding: 0.5rem;
    font-weight: 500;
}

.locations li:first-child {
    font-size: 2rem;
    font-weight: 700;
}

@media screen and (max-width: 480px) {
    .locations .locations-list {
        width: 100%;
    }

    .locations .container,
    .locations h2 {
        width: 80%;
    }

    .locations li {
        font-size: 1.2rem;
        padding: 0.3rem;
        font-weight: 400;
    }
}

/*_____ ___   ___ _____ _____ ____  
 |  ___/ _ \ / _ \_   _| ____|  _ \ 
 | |_ | | | | | | || | |  _| | |_) |
 |  _|| |_| | |_| || | | |___|  _ < 
 |_|   \___/ \___/ |_| |_____|_| \_\
*/

.footer {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--deep_dark);
    color: var(--accent_very_light);
}

.footer p {
    font-weight: bold;
    padding: 0.4rem;
}

.footer p:first-child {
    border-right: 2px solid var(--accent_very_light);
}

@media screen and (max-width: 700px) {
    .footer {
        height: 2rem;
    }

    .footer p {
        font-size: 0.6rem;
        padding: 0.2rem;
    }
}

@media screen and (max-width: 480px) {
    .footer p {
        display: flex;
        flex-direction: column;
    }
}